// Place all the styles related to the Owners controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.owner-image-index {
  width: 950px;
  height: 300px;
}

.owner-image-show {
  width: 100%;
  height: 300px;
}